
.result-bg {
    background-color: rgba(8,9,17,0.9);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    box-sizing: border-box;
    height: 360px;
    padding: 20px;
    width: 400px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1), 10px 10px 20px rgba(0, 0, 0, 0.1) inset;
}


.tinytitle {
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 5px;
}


.title {
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 17px;
}